.gala-container {
  width: 100vw;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gala-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.gala-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.gala-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gala-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-height: 800px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gala-text {
  font-size: 3rem;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.gala-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow: hidden;
  max-height: 300px;
  align-items: center;
  padding-top: 10%;
}
.gala-image {
  width: 100%;
}
.gala-text1 {
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.gala-text2 {
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.gala-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .gala-container2 {
    grid-template-columns: 1fr 1fr;
  }
  .gala-hero {
    flex-direction: column;
  }
  .gala-text {
    text-align: center;
  }
  .gala-image {
    width: 80%;
  }
  .gala-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .gala-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gala-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gala-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .gala-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gala-container2 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .gala-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gala-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
